section#intro {
	padding: 77px 0 65px;
}

img.inset {
	float: left;
	padding: 0 20px 20px 0;
}

section#species {
	padding: 77px 0 65px;
	div#slider-cont {
		#options {
			width: 22%;
			display: inline-block;
			vertical-align: top;
		}
		p.filters {
			text-align: center;
		}
		ul#filters {
			li {
				float: left;
				list-style-type: none;
				width: 5.7%;
				font-size: .4em;
				visibility: hidden;
			}
		}
	}
	article {
		width: 100%;
		border: 1px solid @brown;
		min-height: 305px;
		margin-bottom: 32px;
		div.fish {
			width: 39%;
			border-right: 1px solid @brown;
			display: inline-block;
			vertical-align: middle;
			min-height: 305px;
			padding-top: 56px;
			img {
				width: 80%;
				margin: 0 auto;
				display: block;
			}
			h5 {
				width: 60%;
				margin: 0 auto;
			}
			&.grayling {
				padding-top: 34px;
			}
			&.silver {
				padding-top: 40px;
			}
		}
		div.description {
			width: 60%;
			display: inline-block;
			vertical-align: middle;
			padding: 0 20px;
			span {
				.ssp-italic;
				color: @green;
			}
			p {
				padding-bottom: 0;
			}
		}
	}
}




div.slider-right {
	width: 77%;
	float: right;
	margin-top: 7px;
	div.slider-image {
		margin-bottom: 22px;
		img {
			width: 100%;
		}
	}
}

.ui-slider {
	width: 98%!important;
	margin: 0 auto;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
	background-image: none!important;
	background-color: @brown!important;
	border: 0 !important;
	.border-radius(50%);
}

.ui-slider-horizontal {
	height: 0!important;
}

.ui-slider-horizontal .ui-slider-handle {
	top: -.58em!important;
}

.ui-widget-content {
	border-color: @green!important;
}














