section#intro {
	padding: 77px 0 65px;
}

img.inset {
	float: left;
	padding: 0 20px 20px 0;
}

section#species {
	padding: 77px 0 65px;
	div#slider-cont {
		ul#filters {
			li {
				display: inline-block;
			}
		}
	}
	article {
		width: 100%;
		border: 1px solid @brown;
		min-height: 305px;
		margin-bottom: 32px;
		div.fish {
			width: 39%;
			border-right: 1px solid @brown;
			display: inline-block;
			vertical-align: middle;
			min-height: 305px;
			padding-top: 56px;
			img {
				width: 80%;
				margin: 0 auto;
				display: block;
			}
			h5 {
				width: 60%;
				margin: 0 auto;
			}
			&.grayling {
				padding-top: 34px;
			}
			&.silver {
				padding-top: 40px;
			}
		}
		div.description {
			width: 60%;
			display: inline-block;
			vertical-align: middle;
			padding: 0 20px;
			span {
				.ssp-italic;
				color: @green;
			}
			p {
				padding-bottom: 0;
			}
		}
	}
}




#draggable { 
	width: 10px; 
	height: 10px; 
	.border-radius(50%); 
	cursor: pointer;
}

