section#contact {
	padding: 77px 0px 65px;
	h2 {
		color: #fff;
	}
}

div.form {
	margin-top: 30px;
	div.formleft {
		width: 46%;
		margin-right: 7%;
		display: inline-block;
		vertical-align: top;
		input.opt-in {
			display: inline;
			width: 25px;
		}
		label#opt-in{
			display: inline;
			.ssp-normal;
			text-transform: none;
		}
	}
	div.formright {
		width: 46%;
		display: inline-block;
		.g-recaptcha {
			margin-bottom: 15px;
			background-color: #fff;
		}
	}
}
div.contact {
	width: 50%;
	display: inline-block;
	vertical-align: top;
	p {
		.passion;
		font-size: 2em;
		text-transform: uppercase;
		text-align: center;
		line-height: 1em;
		padding: 0px 0 44px;
		color: #fff;
		&.phone {
			padding-top: 20px;
		}
		a {
			color: #fff;
			text-decoration: none;
			&:hover {
				color: @mint;
			}
		}
	}
}




label {
	.ssp-bold;
	color: #fff;
	font-size: 1.3em;
	line-height: 1.3em;
	display: block;
	text-transform: uppercase;
	a {
		color: @brown;
	}
}
input {
	width: 96%;
	margin-bottom: 20px;
	height: 20px;
	border: none;
	background-color: #fff;
	padding: 10px 2%;
	font-size: 18px;
	color: @brown;
	.ssp-normal;
	&:required {
		box-shadow: none;
	}
}
textarea {
	width: 96%;
	background-color: #fff;
	color: @brown;
	padding: 2%;
	margin-bottom: 20px;
	font-size: 18px;
	border: none;
	resize: none;
	height: 197px;
	.ssp-normal;
}

.left {
	display: inline-block;
	vertical-align: top;
	width: 45%;
	margin-right: 5%;
}
.right {
	display: inline-block;
	vertical-align: top;
	width: 45%;
	margin-left: 4%;
}

button {
	width: 100%;
	background-color: #cadfaa;
	color: #fff;
	.passion;
	text-transform: uppercase;
	font-size: 2em;
	text-align: center;
	border: none;
	padding: 3px 0 0;
	display: block;
	float: right;
	.drop-shadow;
	&:hover {
		background-color: @green;
		.transition;
	}
}


section#fourohfour {
	padding: 77px 0px 65px;
	h2 {
		color: #fff;
	}
	p {
		text-align: center;
		&.first{
			padding-top: 40px;
		}
		a {
			color: #fff;
		}
	}
}