//////////////////// INDEX PAGE STYLES ////////////////////

section.pattern {
	background: url(/_assets/img/pattern.png) repeat left top transparent;
	&.dark {
		background: url(/_assets/img/pattern-dark.png) repeat left top transparent;
	}
}

section#bgFixed {
	background-size: cover;
	width: 100%;
	height: 200px;
	&.subpage {
		height: auto;
		padding: 77px 0 65px;
		p {
			color: #fff;
		}
	}
	&.mountains {
		background-image: url(/_assets/img/backgrounds/mountains/mountains-large.jpg);
	}
	&.bears {
		background-image: url(/_assets/img/fixed-bears.jpg);
		background-repeat: no-repeat;
		background-position: center;
	}
	&.fish {
		background-image: url(/_assets/img/fixed-fish.jpg);
	}
	&.plane {
		background-image: url(/_assets/img/fixed-plane.jpg);
	}
	&.mountains {
		background-image: url(/_assets/img/backgrounds/mountains/mountains-extralarge.jpg);
	}
	&.cooler {
		background-image: url(/_assets/img/backgrounds/cooler/cooler-extralarge.jpg);
	}
	&.basket {
		background-image: url(/_assets/img/backgrounds/basket/basket-extralarge.jpg);
	}
	&.pole {
		background-image: url(/_assets/img/backgrounds/pole/pole-extralarge.jpg);
	}
	&.staff {
		background-image: url(/_assets/img/backgrounds/sunset/sunset-extralarge.jpg);
	}
	&.lodge {
		background-image: url(/_assets/img/backgrounds/hats/hats-extralarge.jpg);
	}
	&.fleet {
		background-image: url(/_assets/img/backgrounds/line/line-extralarge.jpg);
		background-position: bottom;
	}
	&.media {
		background-image: url(/_assets/img/backgrounds/wall/wall-extralarge.jpg);
	}
}

section#testimonials {
	padding: 60px 0;
	h2 {
		padding: 0px 0 65px;
	}
	div.testimonial {
		display: inline-block;
		width: 43%;
		margin: 0 3% 60px;
		img {
			display: inline-block;
			width: 25%;
			margin-right: 2%;
			vertical-align: top;
		}
		p {
			.ssp-normal;
			font-size: 0.7777777777777777em;
			line-height: 1.2em;
			color: @brown;
			display: inline-block;
			width: 71%;
		}
		h6 {
			.passion;
			font-size: 1em;
			color: @green;
			display: block;
			width: 100%;
			text-align: right;
		}
	}
}

section#three-group {
	padding: 70px 0 100px;
	article {
		display: inline-block;
		vertical-align: top;
		width: 30%;
		margin: 0 1.3%;
		[class^="icon-"], [class*=" icon-"] {
			color: @brown;
			font-size: 3em;
			text-align: center;
			display: block;
			margin-bottom: 20px;
		}
		h3 {
			.passion;
			padding-bottom: 20px;
			text-align: center;
			text-transform: uppercase;
		}
		p {
			text-align: center;
			padding-bottom: 30px;
		}
	}
}


section#four-group {
	padding: 70px 0 100px;
	.btn-container {
		margin: 30px 0 10px;
		bottom: 20px;
		left: 0;
		position: absolute;
		.btn {
			width: 80%;
		}
	}
	article.media-item {
		height: 455px;
		position: relative;
		width: 22.5%;
		margin: 0 1%;
		background-color: @brown;
		padding: 22px 2%;
		display: inline-block;
		vertical-align: top;
		span {
			display: block;
			margin: 0 auto;
			color: #fff;
			width: 36px;
			font-size: 1.5em;
			&[class^="icon-"], [class*=" icon-"] {
				position: absolute;
				top: 40%;
				margin-top: -8px;
				left: 50%;
				margin-left: -18px;
				font-size: 2em;
			}
		}
		p {
			.ssp-light;
			font-size: 0.7777777777777777em;
			line-height: 1.2857142857142856em;
			color: #fff;
			text-align: center;
			padding: 20px 0 0;
		}
		a.video-link {
			position: relative;
			&:hover {
				img {
					opacity: .8;
				}
				span {
					color: @white;
					.transition;
				}
			}
		}
		img {
			width: 100%;
			margin-top: 20px;
		}
	}
}
































