img.lodge-logo {
	width: 30%;
	margin: 0 auto 60px;
	display: block;
	&.second-logo {
		margin-top: 100px;
	}
}
.lodge {
	ul.slides {
		li {
			img {
				border: 4px solid #fff;
			}
			h3 {
				.ssp-normal;
				font-size: 0.7777777777777777em;
				line-height: 1.2857142857142856em;
				color: #fff;
				text-align: center;
				padding: 10px 20px;
			}
		}
	}
	.flex-direction-nav a {
		top: 25%;
	}
}

#rates {
	background: url(/_assets/img/rates.jpg) no-repeat center center transparent;
	background-size: cover;
	padding-bottom: 30px;
	h1 {
		color: #fff;
		letter-spacing: 10px;
	}
	h3 {
		color: #fff;
		font-size: 2em;
		text-align: center;
	}
	h6 {
		color: #fff;
		text-align: center;
		text-decoration: underline;
		padding-bottom: 15px;
	}
	p {
		color: #fff;
		text-align: center;
		padding-bottom: 10px;
		text-transform: uppercase;
		letter-spacing: 2px;
		font-size: .8em;
	}
	article.column {
		display: inline-block;
		vertical-align: top;
		width: 40%;
		margin: 0 4.5%;
		&.left {
		}
	}
}