p.table-header {
	text-transform: uppercase;
	font-size: 1.3333333333333333em;
	color: @brown;
	text-align: center;
	.ssp-semibold;
}
p.table-body {
	text-transform: none;
}



/******** START Drag to Reveal module STYLES *********/
section.product-reveal.fan {
	min-height: 400px;

	.reveal-parts-container {
		background: url(/_assets/img/air.png) no-repeat center 64px;
		background-size: contain;
		float: right;
		min-height: 480px;
		min-width: 802px;
		margin-right: -75px;
		margin-top: 0;
		.full-fan {
			position: relative;
			z-index:2;
			display: inline-block;
			padding-bottom: 50px;
			&::after {
				content: "";
				height: 100%;
				border-right: 2px solid #ccc;
				position: absolute;
				left: 50%;
			}
			img {transition: all .3s;}
			.fade {
				opacity: .15;
			}
		}
		.arrow-one-gif {
			position: absolute;
			opacity: 0;
			z-index: 1;
			left: -50px;
		}
		.arrow-one-gif.show {
			opacity: .4;
			transition: all .7s ease;
		}
		.arrow-one.hide {
			opacity: 0;
		}
		.arrow-one {
			position: absolute;
			left: -50px;
		}
		.arrow-circle {
			position: absolute;
			right: 23%;
			top: 19px;
		}
		.arrow-circle.rotate {
			opacity: .5;
			transition: all .3s;
		}
		.divider {
			color: #c2d72d;
			font-size: 1.5em;
			border-top: 2px solid #ccc;
			.col5 {
				padding-top: 15px;
				img {
					vertical-align: bottom;
					margin-right: 6px;
				}
			}
			.col5:first-child {
				border-right: 2px solid #ccc;
			}
		}
		ul.highlights {
			li {
				height: 47px;
				width: 47px;
				background: url(/_assets/img/highlight-big.png);
				.ring {
					height: 55px;
					width: 55px;
					top: -4px;
					left: -4px;
				}
			}
			.h-one {
				top: 100px;
				left: 265px;

			}
			.h-two {
				top: 100px;
				left: 492px;
			}
		}
	}
	.reveal-cta {
		clear: both;
	}
}

.reveal-parts-container {
	position: relative;
	display: inline-block;
	margin-top: 25px;
	float: right;
	.foreground {
		width: 50%;
		padding: 25px 0 100px 0;
		border-right: 2px solid #a5a5a5;
		position: absolute;
		z-index: 101;
		top: 0;
		left: 0;
		.image-c {
			overflow: hidden;
		}
		.ui-resizable-e {
			width: 62px;
			height:62px;
			background: url(/_assets/img/handle.png);
			position: absolute;
			right: -31px;
			bottom: 0;
		}

		.ui-resizable-e:active, .ui-resizable-e:hover {
			cursor: pointer;
		}
	}
	.background {
		position: relative;
		padding: 25px 0 100px 0;
		width: 645px;
	}
	.bot-bar {
		height: 12px;
		background: url(/_assets/img/bot-bar.png) no-repeat;
		width: 100%;
		background-size: 100%;
		margin-top: -35px;
	}
	.tip {
		display: block;
		text-align: center;
		padding: 30px;
		font-size: .8em;
	}

	ul.highlights {
		li {
			height: 28px;
			width: 28px;
			background: url(/_assets/img/highlight.png);
			position: absolute;
			top: 0;
			left: 0;
			box-shadow:0 0 20px rgba(255, 255, 255, 0.55), inset 0 0 20px rgba(255, 255, 255, 0.63);
			border-radius: 100%;
			z-index: 105;
			cursor: pointer;
			transition: all .5s ease;
			img {
				position: relative;
				z-index: 100;
			}
			.ring {
				height: 38px;
				width: 38px;
				border-radius: 100%;
				border: 2px solid @brown;
				position: absolute;
				top: -5px;
				left: -5px;
				z-index: 99;
			}
		}

/* 		//heater/furnace markers */
		.h-one {top: 118px;left: 21px;}
		.h-two {top: 165px;left: 102px;}
		.h-three {top: 184px;left: 266px;}
		.h-four {top: 221px;left: 618px;}
		.h-five {top: 247px;left: 6px;}
		.h-six {top:187px;left: -28px;}
		.h-seven {top: 272px;left: 452px;}
		.h-eight {top: 200px;left: 460px;}

/* 		//boiler markers */
		.b-one {top: 260px;left: 234px;}
		.b-two {top: 243px;left: 350px;}
		.b-three {top: 170px;left: 295px;}
		.b-four {top: 200px;left: 220px;}
		.b-five {top: 300px;left: 150px;}
		.b-six {top:313px;left:234px;}
		.b-seven {top: 333px;left: 350px;}
		.b-eight {top: 200px;left: 425px;}
		.b-nine {top: 194px;left: 350px;}

/* 		//burner markers */
		.br-one {top: 120px;left: 70px;}
		.br-two {top: 288px;left: 386px;}
		.br-three {top:215px;left: 240px;}

	}
}
.reveal-parts-container.boiler {
	margin-top: -40px;
	.foreground {
		padding: 25px 0 35px 0;
		img {margin-left: -83px;}
	}
	.background {
		padding: 25px 0 0 0;
		img {
			margin-left: -83px;
		}
	}
	.tip {
		margin-top: 68px;
		padding: 0;
	}
}

.feature-info {
	position: absolute;
	left: 0;
	top: 0;
	margin-top: 30px;
	background: #fff;
	padding: 1%;
	width: 100%;
	max-width: 490px;
	/* max-height: 374px; */
	min-height: 374px;
	z-index: 106;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
	text-align: center;
	display: none;
	ul li {
		display: none;
	}
	div {
		border-radius: 100%;
		width: 180px;
		height: 180px;
		border: 1px solid @brown;
		box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.04);
		overflow: hidden;
		margin: 0 auto;
		position: relative;
		img {
			height: 100%;
		}
	}
	span {
		line-height: 1.5em;
		font-size: 1em;
		text-align: left;
	}
	.title {
		color: @brown;
		font-size: 1.75em;
		display: block;
		text-align: center;
		margin-bottom: 10px;
		line-height: 1.75em;
	}
}

/*.feature-info:after {
	content: "";
	border-top: 186px solid transparent;
	border-left: 44px solid rgba(255, 255, 255, 0.7);
	border-bottom: 189px solid transparent;
	width: 0;
	height: 0;
	position: absolute;
	right: -44px;
	top: 0;
}
*/
.fan .feature-info {
	min-height: 0;
	padding-bottom: 20px;
}
.reveal-cta {
	clear: both;
	h2 {
		text-align: center;
		margin-bottom: 10px;
	}
	p {
		padding-bottom: 30px;
	}
}
.highlight-overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 104;
}
/******** END Drag to Reveal module STYLES *********/
