#gallery {
	background: url(/_assets/img/rates.jpg) no-repeat center center transparent;
	background-size: cover;
	padding-bottom: 30px;
	h1 {
		color: #fff;
		letter-spacing: 10px;
	}
	h3 {
		color: #fff;
		font-size: 2em;
		text-align: center;
	}
	h6 {
		color: #fff;
		text-align: center;
		text-decoration: underline;
		padding-bottom: 15px;
	}
	p {
		color: #fff;
		text-align: center;
		padding-bottom: 10px;
		text-transform: uppercase;
		letter-spacing: 2px;
		font-size: .8em;
		a {
			color: #fff;
			text-decoration: none;
			&:hover {
				color: @blue;
			}
		}
	}
}
#rates {
	h3 {
		color: @brown;
		font-size: 2em;
		text-align: center;
	}
	h6 {
		padding-bottom: 15px;
	}
	article.column {
		display: inline-block;
		vertical-align: top;
		width: 30%;
		margin: 0 9% 30px;
		&.left {
		}
	}
}

#gallery {
	background: url(/_assets/img/fixed-plane2.jpg) no-repeat center center transparent;
	background-size: cover;
	.form-login {
		width: 50%;
		margin: 0 25%;
		display: block;
		input {
			margin: 0 auto 20px;
			text-align: center;
		}
		button {
			float: none;
			margin-bottom: 30px;
		}
	}
}

#safety-information {
	background: url(/_assets/img/pattern.png) repeat left top transparent;
	padding: 0px 60px 60px;
}