
/******** START MAIN FOOTER STYLES *********/

footer {
	background-color: @brown;
	padding: 38px 0;
	p {
		.ssp-light;
		font-size: 0.6571428571428571em;
		color: #fff;
		text-transform: uppercase;
		display: inline-block;
		vertical-align: middle;
		a {
			text-decoration: none;
			float: none;
			margin: 0 auto;
			&:hover {
				color: @green;
				.transition;
			}
		}
	}
	a {
		display: inline-block;
		vertical-align: top;
		text-decoration: none;
		color: #fff;
		float: right;
		margin: 0 10px;
		&:hover {
			color: @green;
		}
	}
}

/******** END FOOTER STYLES *********/
