section#links {
	p {
		line-height: 3em;
		padding-bottom: 0;
		a {
			text-decoration: none;
		}
		&.next {
			float: right;
			img {
				margin-left: 10px;
			}
		}
		&.prev {
			float: left;
			img {
				margin-right: 10px;
			}
		}
	}
}




/******** START MAIN FOOTER STYLES *********/

footer {
	background-color: @brown;
	padding: 100px 0 28px;
	div.map {
		width: 80%;
		margin: 0 auto 80px;
		text-align: center;
		img {
			width: 100%;
		}
	}
	div.left-col {
		display: inline-block;
		width: 30%;
		vertical-align: middle;
		a.icon {
			display: inline-block;
			vertical-align: top;
			text-decoration: none;
			color: #fff;
			margin: 0 20px 0 0;
			font-size: 2em;
			&:hover {
				color: @green;
			}
		}
	}
	p.remote {
		font-size: 1.35em;
		font-weight: 700;
		margin-bottom: 50px;
		text-align: center;
		a {
			text-decoration: none;
			&:hover {
				text-decoration: underline;
				color: @white;
				.transition;
			}
		}
	}
	div.right-col {
		display: inline-block;
		width: 59%;
		margin-left: 10%;
		vertical-align: middle;
		img {
			margin-bottom: 50px;
			display: block;
			width: 100%;
		}
		iframe {
			margin-bottom: 30px;
		}
	}
	h2 {
		margin-bottom: 10px;
	}
	.seasons-container {
		text-align: center;
		margin-bottom: 30px;
	}
	p {
		.ssp-light;
		font-size: 0.6571428571428571em;
		color: #fff;
		text-transform: uppercase;
		&.contact {
			font-size: 1.5em;
			font-weight: 700;
			text-align: center;
			margin: 30px 0 5px;
			a {
				text-decoration: none;
				&:hover {
					text-decoration: underline;
				}
			}
		}
		&.seasons {
			font-size: 1.2em;
			font-style: italic;
			text-transform: none;
			span {
				color: @green;
				font-weight: 700;
				font-style: normal;
				text-transform: uppercase;
			}
			a {
				font-weight: 700;
				font-style: normal;
				text-transform: uppercase;
			}
		}
		a {
			text-decoration: none;
			float: none;
			margin: 0 auto;
			&:hover {
				color: @white;
				.transition;
			}
		}
		&.copy {
			font-size: 1em;
			margin-top: 0;
			padding-bottom: 5px;
			text-align: right;
		}
	}
}

/******** END FOOTER STYLES *********/
