
/******** START MAIN HEADER AND NAVIGATION STYLES *********/

nav {
	position: relative;
	width: 80%;
	max-width: 1000px;
	margin: 0 auto;
	z-index: 1;
	ul {
		height: 50px;
		margin-top: 40px;
		&:before, &:after {
			content: "";
			background-color: #fff;
			height: 1px;
			float: right;
			display: block;
		}
		&:before {
			width: 89%;
		}
		&:after {
			width: 87.5%;
			margin-top: -20px;
		}
		li {
			display: inline-block;
			letter-spacing: .1em;
			.passion;
			text-transform: uppercase;
			font-size: .8em;
			margin-right: 17px;
			&:last-child {
				margin-right: 0;
			}
			&.logo {
				margin-top: -20px;
				a:hover {
					border-bottom: none;
				}
			}
			a {
				text-decoration: none;
				color: #fff;
				&:hover {
					border-bottom: 1px solid #fff;
					text-decoration: none;
				}
			}
		}
	}
}

header {
	top: -107px;
	position: relative;
	div.slider {
		z-index: -1;
	}
	div.tag {
		width: 100%;
		position: absolute;
		top: 40%;
		&:before, &:after {
			.passion;
			content: "* * * * *";
			margin: 0 auto;
			display: block;
			width: 60px;
			color: #fff;
			font-size: 1em;
		}
		p {
			.condiment;
			color: #fff;
			font-size: 2em;
			text-align: center;
			margin-top: 20px;
			span {
				display: block;
				.passion;
				text-transform: uppercase;
				letter-spacing: .2em;
				font-size: 2.3em;
			}
		}
	}
	div#topLodge {
		background-color: @brown;
		opacity: .5;
		width: 100%;
		position: absolute;
		bottom: 0;
		div#fullOpacity {
			opacity: 1;
			max-width: 1000px;
			width: 80%;
			margin: 0 auto;
			position: relative;
		}
		img {
			position: absolute;
			right: 0;
			top: 33px;
		}
	}
	img.temp-image {
		width: 100%;
	}
}

/******** END MAIN HEADER AND NAVIGATION STYLES *********/

