.passion {
	font-family: 'Passion One', sans-serif;
}

.condiment {
	font-family: 'Condiment', cursive;
}

.ssp-light {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
}
.ssp-normal {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
}
.ssp-normal-italic {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
	font-style: italic;
}
.ssp-semibold {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 600;
}
.ssp-bold {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 700;
}