body {
	-webkit-font-smoothing: antialiased;
}

/******** BOX/CONTAINER STYLES *********/

/******** COLUMN STYLES *********/
.col4, .col6 {
	display: inline-block;
	vertical-align: top;
}
.col4 {width: 40%;}
.col6 {width: 60%;}

/******** COLOR STYLES *********/
@grey:		#6f6f6f;
@lightGrey:	#b9b9b9;
@black:		#2e2f30;
@blue:		#242f44;
@lightBlue: #143269;
@tan:		#eeebe6;
@white:		#ffffff;

.grey{color:@grey;}
.lightGrey{color:@lightGrey;}
.black{color:@black;}
.blue{color:@blue;}
.lightBlue{color:@lightBlue;}
.tan{color:@tan;}
.white{color:@white;}

/******** TYPE FORMATING STYLES *********/
.light {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}
.regular {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}
.bold {
	font-family: 'Open Sans', sans-serif;
}
.italic {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-style: italic;
}
.center {
	padding: 0 10px;
	text-align: center;
}

h1 {}

h2 {}

h3 {}

p {
	.regular;
	font-size: 20px;
	margin-bottom: 20px;
}

p:last-child {
	margin-bottom: 0;
}



/********  POSITIONING STYLES  *********/


/********  OTHER UI THINGS STYLES  *********/

.button {

}


.green-button {

}

