body {
	-webkit-font-smoothing: antialiased;
}

.inner {
	max-width: 1000px;
	width: 80%;
	margin: 0 auto;
}

.clear {
	clear: both;
}

.picturefill img {
  width: 100%;
}

@blue:	#79887b;
@white:	#f2f3e4;
@brown:	#504e3c;
@green:	#b4aa5e;
@mint:	#b8c6bc;


h1 {
	.passion;
	text-transform: uppercase;
	font-size: 2.6666666666666665em;
	color: @brown;
	text-align: center;
	padding: 62px 0 15px;
}
h2 {
	.passion;
	text-align: center;
	font-size: 2.6666666666666665em;
	text-transform: uppercase;
	color: @brown;
	padding-bottom: 17px;
	&.alt {
		color: #fff;
	}
	&.multiple {
		padding-top: 55px;
	}
	&.subh2 {
		font-size: 1.5em;
	}
}
h3 {
	.ssp-light;
	font-size: 1.3333333333333333em;
	line-height: 1.25em;
	color: @brown;
	padding-bottom: 65px;
	a {
		color: @green;
		text-decoration: none;
	}
	&.alt {
		line-height: 5em;
		color: #fff;
		text-align: center;
		padding-bottom: 0;
		a {
			color: #fff;
			text-decoration: none;
			font-weight: bold;
		}
	}
}
h4 {
	color: #fff;
	.passion;
	font-size: 2em;
	text-transform: uppercase;
	text-align: center;
	line-height: 0.6944444444444444em;
	padding: 20px 0 26px;
	border-bottom: 1px solid #fff;
	&.alt {
		border-bottom: none;
		color: @brown;
	}
}
h5 {
	.passion;
	font-size: 3em;
	color: @brown;
	text-align: center;
	padding-top: 26px;
	text-transform: uppercase;
	line-height: .8em;
}
h6 {
	.ssp-semibold;
	font-size: 1.3333333333333333em;
	color: @brown;
	text-transform: uppercase;
}
p {
	padding-bottom: 20px;
	.ssp-light;
	font-size: 1em;
	color: @brown;
	line-height: 1.3em;
	&.alt {
		color: #fff;
		a {
			color: #fff;
			font-weight: bold;
		}
	}
	a {
		color: @green;
		text-decoration: underline;
		&:hover {
			color: @mint;
		}
	}
	&.last {
		padding-bottom: 100px;
	}
}
.italic {
	.ssp-italic;
}

a {
	&:hover {
		.transition;
	}
}
ul {
	padding: 0 0 20px 20px;
	li {
		.ssp-light;
		font-size: 1em;
		color: @brown;
		line-height: 1.3em;
		list-style-type: disc;
	}
}

button.print {
	font-size: 0.7777777777777777em;
	color: @brown;
	float: right;
	width: 100px;
}

table {
	width: 100%;
	margin-bottom: 10px;
	tr {
		td {
			.ssp-semibold;
			font-size: 1.1111111111111112em;
			color: @brown;
			line-height: 1.3em;
			text-transform: uppercase;
			padding: 10px 20px;
			border: 1px solid @brown;
			text-align: center;
			vertical-align: middle;
			a {
				color: @brown;
				text-decoration: none;
				&:hover {
					color: @green;
				}
			}
			&.no-padding {
				padding: 0;
				table {
					margin-bottom: 0;
				}
			}
			&.table-left {
				width: 43%;
				padding: 10px 50px;
			}
		}
	}
	&.dark {
		background-color: @white;
	}
	&.pad {
		margin-top: 30px;
		clear: right;
		&.pad-more {
			margin-top: 70px;
		}
	}
	table {
		tr {
			font-size: 0.8888888888888888em;
			.ssp-semibold;
			td {
				text-transform: none;
				padding: 8px 10px;
			}
			&:first-child td {
				border-top: none;
			}
			&:last-child td {
				border-bottom: none;
			}
			td:first-child {
				border-left: none;
			}
			td:last-child {
				border-right: none;
			}
		}
	}
}

a.readmore {
	display: block;
	font-size: 1em;
	line-height: 2.3em;
	color: #fff;
	text-decoration: none;
	text-align: right;
	.condiment;
	&:hover {
		color: @green;
		.transition;
	}
}

span.temp {
	color: magenta;
}

.btn-container {
	width: 100%;
	text-align: center;
}
.btn {
	text-align: center;
	margin: 0 auto;
	padding: 10px 15px;
	.ssp-semibold;
	color: #fff;
	background-color: @green;
	.border-radius;
	text-decoration: none;
	text-transform: uppercase;
}











